---
http_interactions:
- request:
    method: post
    uri: https://api-cn.ronghub.com/user/getToken.json
    body:
      encoding: UTF-8
      string: userId=nutzer&name=John+Doe
    headers:
      Rc-App-Key:
      - "<RONGCLOUD_APP_KEY>"
      Rc-Nonce:
      - iAWsx1FnXzbw7uEo
      Rc-Timestamp:
      - '1697351338663'
      Rc-Signature:
      - 3b671aa26876dcd0b2ee0b9d8d2761378648c070
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Apisix-Upstream-Status:
      - '200'
    body:
      encoding: UTF-8
      string: '{"code":200,"userId":"nutzer","token":"35Ufb55yCBsDTweUTPFMpDDFDOTp/h6tmHhHEWfdYtk=@5r3v.cn.rongnav.com;5r3v.cn.rongcfg.com"}'
  recorded_at: Sun, 15 Oct 2023 06:28:58 GMT
recorded_with: VCR 6.1.0
