---
http_interactions:
- request:
    method: post
    uri: https://api-cn.ronghub.com/user/getToken.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Rc-App-Key:
      - "<RONGCLOUD_APP_KEY>"
      Rc-Nonce:
      - mTLnQjesEJqpXWRv
      Rc-Timestamp:
      - '1665601023862'
      Rc-Signature:
      - 1df8f8da2ad74662be010c26b880922330f44ebd
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":1002,"errorMessage":"The parameter userId is required.","url":"/user/getToken.json"}'
  recorded_at: Wed, 12 Oct 2022 18:57:04 GMT
- request:
    method: post
    uri: https://api-cn.ronghub.com/user/getToken.json
    body:
      encoding: UTF-8
      string: userId=nutzer&name=John+Doe
    headers:
      Rc-App-Key:
      - "<RONGCLOUD_APP_KEY>"
      Rc-Nonce:
      - 4Ke9FYrLxMGsfEAX
      Rc-Timestamp:
      - '1665601024191'
      Rc-Signature:
      - 7f7dfe1999bf18f6c5a8f5a65fef995640a8f262
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":200,"userId":"nutzer","token":"35Ufb55yCBsDTweUTPFMpOxC0LSnO96HcI51PE6h5Ho=@5r3v.cn.rongnav.com;5r3v.cn.rongcfg.com"}'
  recorded_at: Wed, 12 Oct 2022 18:57:04 GMT
- request:
    method: post
    uri: https://api-cn.ronghub.com/user/info.json
    body:
      encoding: UTF-8
      string: userId=nutzer
    headers:
      Rc-App-Key:
      - "<RONGCLOUD_APP_KEY>"
      Rc-Nonce:
      - zRrytIkWX5buxYCv
      Rc-Timestamp:
      - '1665601024824'
      Rc-Signature:
      - 3ad96d27dfa03d8ae91b0a186d19093f0d9d5d79
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":200,"userName":"John Doe","userPortrait":"","createTime":"2022-10-13
        02:26:51"}'
  recorded_at: Wed, 12 Oct 2022 18:57:04 GMT
recorded_with: VCR 6.1.0
