---
http_interactions:
- request:
    method: post
    uri: https://api-cn.ronghub.com/user/getToken.json
    body:
      encoding: UTF-8
      string: userId=nutzer&name=John+Doe
    headers:
      Rc-App-Key:
      - "<RONGCLOUD_APP_KEY>"
      Rc-Nonce:
      - 3aKZFq9zJ5kUSYyp
      Rc-Timestamp:
      - '1697370397664'
      Rc-Signature:
      - c0f127edd81e7bbd1b99d36f63868b4122073744
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Apisix-Upstream-Status:
      - '200'
    body:
      encoding: UTF-8
      string: '{"code":200,"userId":"nutzer","token":"35Ufb55yCBsDTweUTPFMpEZVnOjSlpzryq8rYXuVAfk=@5r3v.cn.rongnav.com;5r3v.cn.rongcfg.com"}'
  recorded_at: Sun, 15 Oct 2023 11:46:37 GMT
recorded_with: VCR 6.1.0
