---
http_interactions:
- request:
    method: post
    uri: https://api-cn.ronghub.com/user/getToken.json
    body:
      encoding: UTF-8
      string: userId=nutzer&name=John+Doe
    headers:
      Rc-App-Key:
      - "<RONGCLOUD_APP_KEY>"
      Rc-Nonce:
      - H1m3NzOcBsLRtdhZ
      Rc-Timestamp:
      - '1697361940114'
      Rc-Signature:
      - b63635cba3e570eab60a75fbd5a23394f9918656
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Apisix-Upstream-Status:
      - '200'
    body:
      encoding: UTF-8
      string: '{"code":200,"userId":"nutzer","token":"35Ufb55yCBsDTweUTPFMpDDFDOTp/h6tfNWFBFCqhdA=@5r3v.cn.rongnav.com;5r3v.cn.rongcfg.com"}'
  recorded_at: Sun, 15 Oct 2023 09:25:40 GMT
recorded_with: VCR 6.1.0
